---
# basic layout for compound object items
# uses _includes/item/child/ includes to add multiple objects to the item page in a gallery
# each object is represented in a modal
layout: item/item-event-base
gallery: true
custom-foot: js/modal-hash-js.html
---
{% assign children = site.data[site.metadata] | where_exp: 'item','item.parentid == page.objectid' %}

<div class="mb-4 ">
    
<div class="row">
<div class="col-md-6">
    {% assign old_web = site.data.old-website-data | where: "filename", page.objectid | first %}
    {% if old_web.abstract_html %}
    <h2>Abstract</h2>
    
    {% comment %} Split abstract into paragraphs and get the first one {% endcomment %}
    {% assign abstract_paragraphs = old_web.abstract_html | split: '</p>' %}
    {% assign first_paragraph = abstract_paragraphs.first | append: '</p>' %}
    {% assign remaining_paragraphs = abstract_paragraphs | slice: 1, abstract_paragraphs.size %}
    {% assign remaining_text = remaining_paragraphs | join: '</p>' %}
    
    {% comment %} Display first paragraph {% endcomment %}
    {{ first_paragraph }}
    
    {% comment %} If there's more content, show expand button {% endcomment %}
    {% if remaining_text != '' and remaining_text != '</p>' %}
        <p>
            <button class="btn btn-outline-secondary btn-sm" type="button" data-bs-toggle="collapse" data-bs-target="#abstract-{{ page.objectid | slugify }}" aria-expanded="false" aria-controls="abstract-{{ page.objectid | slugify }}">
                <span class="expand-text">... expand to see more</span>
                <span class="collapse-text d-none">show less</span>
            </button>
        </p>
        <div class="collapse" id="abstract-{{ page.objectid | slugify }}">
            <div class="border-start border-secondary ps-3 ms-2">
                {{ remaining_text }}
            </div>
        </div>
        
        <script>
            document.addEventListener('DOMContentLoaded', function() {
                var collapseElement = document.getElementById('abstract-{{ page.objectid | slugify }}');
                var button = document.querySelector('[data-bs-target="#abstract-{{ page.objectid | slugify }}"]');
                var expandText = button.querySelector('.expand-text');
                var collapseText = button.querySelector('.collapse-text');
                
                collapseElement.addEventListener('show.bs.collapse', function () {
                    expandText.classList.add('d-none');
                    collapseText.classList.remove('d-none');
                });
                
                collapseElement.addEventListener('hide.bs.collapse', function () {
                    expandText.classList.remove('d-none');
                    collapseText.classList.add('d-none');
                });
            });
        </script>
    {% endif %}
    {% endif %}

</div>
<div class="col-md-6">
{% assign video_child = children | where: "display_template", "video" | first %}

{% include feature/video.html objectid=video_child.objectid %}
    
</div>
<div class="col-12">
    {% include item/child/event-item-modal-gallery.html %}
</div>
</div>
    <div class="my-2">
        {% include item/child/compound-item-download-buttons.html %}
    </div>
</div>
