---
# Default home page with boxes providing collection stats
layout: page
---
{%- assign items = site.data[site.metadata] | where_exp: 'item','item.objectid' -%}
<div class="row">

  <div class="col-md-8">

    {% include index/description.html %}
    {% include feature/alert.html text="**Please Note**: The physical collection was initiated in the 1980s by Roger Gregory and later expanded by local historian Marylyn Cork. Photograph titles have been adapted from these collectors and their descriptions and organization are preserved under the fields **original description** and **original subject**." color="light" align="left" %}
    {% include index/carousel.html title="Sample Items" %}
    
  </div>
  <div class="col-md-4">  

    {% include index/time.html %}

    {% include index/featured-terms.html field="subject" title="Top Subjects" btn-color="clearwater" %}

    {% include index/featured-terms.html field="location" title="Locations" btn-color="outline-palouse" %}
    
    {% include index/objects.html %}

  </div>
  <div class="col-md-12">

    {% include index/data-download.html %}

  </div>

</div>