---
# Default home page with boxes providing collection stats
layout: page
---
{%- assign items = site.data[site.metadata] | where_exp: 'item','item.objectid' -%}
<div class="row">

  <div class="col-12">{% include feature/alert.html text="Please visit the original <a href='https://www.lib.uidaho.edu/digital/turning/' class='alert-link'>Turning of the Wheel website</a> for the full context of this collection." color="success" align="center" %}</div>

  <div class="col-md-8">

    {% include feature/video.html objectid="https://www.youtube.com/watch?v=cfl5UgwGRoc" %}
    
    {% include index/carousel.html title="Sample Items" %}
    
  </div>
  <div class="col-md-4">  

    {% include index/description.html %}

    {% include index/time.html %}
    
    {% include index/objects.html %}

  </div>
  <div class="col-md-12">

    {% include index/data-download.html %}

  </div>

</div>